@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

.header {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(img/banner.png) center/cover no-repeat;

  & nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;

    & img {
      width: 150px;
    }

    & .nav__links {
      flex: 1;
      text-align: right;

      & ul li {
        list-style: none;
        display: inline-block;
        padding: 8px 12px;
        position: relative;
        text-transform: uppercase;

        & :hover::after {
          width: 100%;
        }

        & ::after {
          content: "";
          width: 0%;
          height: 2px;
          background-color: #f44336;
          display: block;
          margin: auto;
          transition: 0.5s;
        }

        & a {
          color: #fff;
          text-decoration: none;
          font-size: 0.85rem;
        }
      }
    }
  }

  .text__box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    & h1 {
      font-size: 3.9rem;
    }

    & p {
      margin: 10px 0 40px;
      color: #fff;
      font-size: 0.9rem;
    }

    & .hero__btn {
      display: inline-block;
      text-decoration: none;
      color: #fff;
      border: 1px solid #fff;
      padding: 12px 34px;
      font-size: 0.9rem;
      background: transparent;
      position: relative;
      cursor: pointer;
      transition: 1s;

      &:hover {
        border: 1px solid #f44336;
        background: #f44336;
      }
    }
  }
}

@media (max-width: 700px) {
  .text__box h1 {
    font-size: 1.3rem;
  }
}
